/* Map */
.map {
  height: 30rem;
}

@media (max-width: 992px) {
  .map {
    height: 75%; 
  }
}

.map iframe {
/*  pointer-events: none;*/
}

.map iframe {
  height: 100%;
  width: 100%;
  border: 0;
}

.slogan {
    font-size: var(--little-font-size); 
}